.header {
    position: relative;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .border_bottom {
        position: absolute;
        top: 6vh;
        width: 0%;
        z-index: 1;
        border-color: rgba(255,255,255, .2);
        border-width: .5px;
      }
        &>a {
          position: fixed;
          left: 1rem;
          z-index: 100;
          text-decoration: none;
          color: white;
          font-size: 1.5rem;
          height: 24px;
          width: 24px;
          display: grid;
          place-content: center;

          &>:hover {
            cursor: pointer;
        }

        &>div {
          position: absolute;
          width: 24px;
          height: 24px;
          
        }
      }
}