// hittade inget bättre sätt för att ha
// bild som bakgrund, använda IMG är ju optimalt

.about_hero {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url('../../public/images/robertwagar.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 1;

  @media(min-width: 768px) {
    width: 58%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);    
    }
}

.main {
    margin: 0 auto;
    margin-top: 70svh;
    padding: 3rem 0;
    min-height: 100vh;
    width: 90svw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    
    @media (min-width: 768px) {   
        margin-top: 100vh; 
        padding: 6rem;
        width: 60svw;        
      }

      section {
        padding: 4rem 0;
      }

      h2 {
        padding: 1rem 0;
        font-size: clamp(2rem, 3vw, 4rem);       
      }

      p {
        padding: 1rem 0;
      }

  }
    
 
  