.main {
    position: relative;
    margin: 0 auto;
    padding: 3rem 0;
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    
    @media (min-width: 768px) {    
        padding: 6rem;
        width: 60%;        
      }
  }

  .projects_wrapper {
    margin-top: 10rem;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
   /*  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
    
  .main > h2 {
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: var(--font-mono);
  }
  