.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.blogpost > h2 {
  font-size: 2rem;
  font-weight: 800;
  
}

.blogpost {
  margin: 2rem auto;
  min-width: 320px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #888;
}

.blogpost:hover {
  cursor: pointer;
  background-color: #282828;
  border-bottom: 1px solid #eb6d07;

}

.img {
  max-width: 80%;
  height: auto;
}

.blogpost p {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 1rem;
  color: white;
}