.container {
    font-family: sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 620px;
    overflow: hidden;

    .primary_container {
      height: 620px;
      min-width: 1070px;
      border-radius: 1rem;
      position: relative;
    }
    
    .primary_image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .image_gallery {
      display: flex;
      flex-direction: column;
      height: 620px;
      z-index: 1;
    }
    
    .related_image {
      border-radius: 10px;
      margin: 5px;
      cursor: pointer;
    }
    
    .image_gallery .related_image:first-child {
      margin-top: 0;
    }
    
  }
  